<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/bower_components/jquery/dist/jquery.js"></script>
    <script src="~/JavaScripts/MasScripts/Script2.js"></script>
    <script src="~/JavaScripts/Script1.js"></script>
</body>
</html>