
@{
    ViewBag.Title = "IndexDev";
}
<link href="~/Content/Estilo1.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Estilo2.css" rel="stylesheet" type="text/css" />
<link href="~/Content/CarpetaCualquiera/Estilo3.css" rel="stylesheet" type="text/css" />

<h2>IndexDev</h2>

@Html.Partial("../Shared/_Content")