
@{
    ViewBag.Title = "IndexDev";
}
<link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Estilo1.css" rel="stylesheet" type="text/css" />
<link href="~/Content/CarpetaCualquiera/Estilo3.css" rel="stylesheet" type="text/css" />

<h2>IndexDev</h2>

@Html.Partial("../Shared/_Content")
<script src="~/bower_components/jquery/dist/jquery.js"></script>
<script src="~/JavaScripts/MasScripts/Script2.js"></script>
<script src="~/JavaScripts/Script1.js"></script>